#top-bar{
    height: 40px;
    background-color: black;
}
#top-bar>div{
    margin: auto;
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.top_div{
    display: flex;
    color: white;
    flex-wrap: wrap;
    margin-bottom: 20%;
    align-items: center;
    gap: 15px;
}
.top_div>p{
    margin-top: 010px;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
   
}
#navbar{
    height: 65px;
    background-color: whitesmoke;
}
#navbar>div{
    width: 82%;
    display: flex;
}
#types{
    height: 45px;
    
}
#offfer{
    height: 40px;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    font-weight: bold;
}   


/* footer Starts from below*/

footer {
    margin-top: 60px;
    background-color: #fff;
    border-top: 1px solid #a9aaa9a2;
  }
  #top-foot {
    width: 82%;
    margin: auto;
    margin-top: 50px;
    display: grid;
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #top-foot > div {
    margin-right: 40px;
  }
  .box1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .box1 > div > a > img {
    width: 130px;
    height: 50px;
  }
  .box1 > div > input {
    height: 50px;
    width: 330px;
  }
  .box1 > div > button {
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
  }
  #bottomdiv {
    width: 82%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
  }
  /* #bottomdiv:nth-child(1){
      display: grid;
      grid-area: d1;
  } */
  #bottomdiv > div {
    margin-left: 0px;
    font-size: 12px;
    font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
  }
  #bottomdiv > div > p {
    color: gray;
  }
  
  .last-div {
    border-top: 1px solid #a9aaa9a2;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .contact {
    display: flex;
  }
  .contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;
  }
  .contactUs > img {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .contactPara > p:nth-child(1) {
    color: #929193;
    font: 600 16px sans-serif;
    margin-bottom: 5px;
  }
  .contactPara > p:nth-child(2) {
    color: #000;
    font: 600 16px sans-serif;
    margin-top: 0;
  }
  .socialHandel > a {
    margin: 0 15px;
  }
  .socialHandel > a > i {
    color: black;
    font-size: 30px;
  }
  .copyRight {
    display: flex;
    gap: 30px;
  }
  .copyRight > div:nth-child(2) > p {
    font: 600 15px sans-serif;
    color: #929193;
    margin-bottom: 0;
  }
  