body{
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#upper-floor{
    width: 92%;
    margin: auto;
}

#upper-floor>p:first-child{
    margin-top: 2%;
    font-weight: 500;
    color: black;
    font-size: larger;
    padding-bottom: 20px;
    border-bottom: 1px solid #C8C9C6;
    /* margin-bottom: %; */
}
#upper-floor>p:last-child{
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 15px;
    /* color: pink; */
}

#bucket-box{
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: 65% 32%;
    grid-template-rows: repeat(auto,auto) ;
    gap: 3%;
}
#left-bucket{
    border: 1px solid #C8C9C6;
    /* display: flex; */
    position: relative;
    /* top: 2%;
    left: 3%; */
}
#left-bucket>#div-holder{
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    display: block; */
}

#left-bucket>#div-holder>#Pro-div>#div-content{
    /* display: inline-block; */
    margin-left: 7%;
}
#div-holder>#div-img{
    /* display: inline-block; */
    /* position: absolute; */
    /* bottom: 10%; */
    /* top: 2%; */
    /* left: 3%; */
}
#div-holder{
    margin-bottom: 3%;
}
#div-content>h5{
    display: inline-block;
    padding-right: 15px;
    margin-top: 3%;
}

#div-content>h5+h5{
    color: #46b275;
    margin-bottom: 3%;
}
#div-content>h5+p{
    /* margin-top: -10px; */
    font-size: 13px;
    color: grey;
}
#div-content>p+p{
    /* margin-top: -10px; */
    font-size: 13px;
    color: grey;
}
#left-bucket>#div-holder>#Pro-div>div>img{
    height: 100px;
    width: 100%;
    margin-top: 6%;
    margin-left: 6%;
    /* display: block; */
}
#Pro-div{
    display: flex;
}
/* #left-bucket>#div-holder>div:last-child{
margin-left: 20px;
} */
/* #right-bucket{
    border: 1px solid #C8C9C6;
    height: 500px;
} */
#div-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #C8C9C6;
    border-bottom: 1px solid #C8C9C6;
    padding: 15px 0px 15px 0px;
}
#remove-button{
    border: 0px;
    background-color: white;
}
#add-button{
    border: 0px;
    background-color: white;
}

#delivery-pincode{
    border: 1px solid #C8C9C6;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 2%;
    padding: 10px 7px 10px 7px;
}
#delivery-pincode>input{
    padding: 7px 5px 7px 5px;
    border-radius: 5px;
}
#delivery-pincode>button{
    padding: 7px 5px 7px 5px;
    background-color: white;
    color: orange;
    font-size: 17px;
    font-weight: 550;
    border: 0px;
    cursor: pointer;
}
#Gift-img{
    display: flex;
    align-items: center;
    border: 1px solid #C8C9C6;
    justify-content:space-around;
    padding: 9px 3px 9px 3px;
    margin-bottom: 7px;
}
#Gift-img>img{
    height: 30%;
    width: 20%;
}
#Gift-img>div:last-child{
   color: orange;
   cursor: pointer;
   font-size: 14px;
   font-weight: 550;
}
#checkout-box{
    border: 1px solid #C8C9C6;
}
#mrp{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
#discount{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 12px;
}
#discount>h5{
    color: #46b275;
}
#shipping{
    width: 90%;
    margin: auto;
    display: flex;
    /* font-size: 13px; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C8C9C6;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
#total{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
a>button{
    width: 90%;
    padding: 20px 0px 20px 0px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: 0px;
    margin: auto;
    display: block;
    cursor: pointer;
     margin-bottom: 15px;
}

#checkout-box>p{
    /* margin-top: 15px; */
    color: black;
    width: 90%;
    margin: auto;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(190, 183, 183);
    margin-bottom: 15px;
}

#landmark>div:first-child{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#landmark>div:last-child{
    font-size: 13px;
    color: grey;
    /* width: 70%; */
    /* margin: auto; */
}
#middle-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}
#middle-div>p{
    font-size: 13px;
    color: grey;
}
#quants>select{
    background-color: #e8ebe3;
    padding: 2px 2px 2px 2px;
    border: 0px;
}

#cheak-out>button{
    margin-left: 30%;
}






